.footer-contacts p { 
    margin: 0 !important;
    text-indent: 0rem;
}
.footer-contacts, .footer-contacts a {
    color: rgba(255, 255, 255, 0.5);
}
.footer-contacts a:hover {
    color: rgba(255, 255, 255, 0.5);
}
.viber:hover {
    text-decoration: underline;
    cursor: pointer;
}
h6 span {    
    padding-bottom: 5px;
    border-bottom: 2px solid  rgba(255, 255, 255, 0.700);
}